* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    width: 20%;
    /* background-color: rgb(9, 49, 82); */
    background-color: rgb(211, 168, 26);
    /* border: 2px solid rgb(211, 168, 26); */
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    text-align: center;
    padding-top: 30px;
}

.img {
    width: 150px;
    height: 150px;
    border: 5px solid gray;
    border-radius: 50%;
}

.navbar {
    padding-left: 80px;
    text-align: left;
}

.navbar ul li {
    list-style: none;
    padding-top: 20px;
    font-size: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
}

.bar ul li a:hover {
    text-decoration: underline;
    color: lightseagreen;
}

.navbar ul li a i {
    padding-right: 10px;
}

.social {
    position: absolute;
    bottom: 50px;
    left: 45px;
}

.social ul li {
    display: inline-block;
    padding-left: 20px;
    font-size: 20px;
}

.social ul li a {
    color: white;
}

.social ul li a:hover {
    color: lightseagreen;
}

.btn_close {
    height: 25px;
    width: 25px;
    /* background-color: white; */
    color: rgb(211, 168, 26);
    border: none;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 225px;
    top: 10px;
}

.content {
    width: 80%;
    float: right;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: url(../img/SW-Background-retro-01.gif);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.banner i {
    display: none;
}

.name h1 {
    font-size: 60px;
    color: rgb(211, 168, 26);
}

.post {
    background-color: rgb(211, 168, 26);
    color: white;
    width: 405px;
    text-align: center;
    padding: 2px 20px;
    margin: auto;
    font-size: 36px;
}

.container {
    width: 80%;
    margin: auto;
}

.h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
    color: rgb(211, 168, 26);
}

.line {
    width: 300px;
    height: 2px;
    background-color: gray;
    margin: auto;
}

.info {
    width: 80%;
    margin: auto;
}

.about {
    float: left;
    width: 50%;
    color: rgb(211, 168, 26);
}

.about p {
    text-align: justify;
    font-size: 18px;
    color: gray;
    padding-top: 20px;
}

.details {
    float: left;
    width: 50%;
    padding-left: 25%;
    color: rgb(211, 168, 26);
    box-sizing: border-box;
}

.details h2,
p {
    text-align: left;
}

.details h4 {
    text-align: left;
    padding-top: 10px;
}

.details p {
    color: gray;
}

.btn {
    padding: 10px;
    width: 125px;
    height: 45px;
    border: 3px solid white;
    border-radius: 14px;
    font-weight: 700;
    border: none;
    background-color: rgb(211, 168, 26);
    color: black;
}

.btn a {
    color: black;
    text-decoration: none;
}

.btn:hover {
    background-color: white;
    border: 3px solid rgb(211, 168, 26);
}

.btn a:hover {
    color: rgb(211, 168, 26);
}

#education {
    background-color: rgb(250, 244, 244);
    clear: both;
}

.institute {
    margin: auto;
    width: 80%;
    margin-top: 35px;
}

.board {
    height: 216px;
    margin: auto;
}

.kkv {
    float: left;
    height: 145px;
    width: 145px;
    border-radius: 50%;
}

.kkv img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.school {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.a {
    margin: auto;
    text-align: center;
    padding-top: 5px;
    width: 100%;
}

.a a {
    color: white;
    text-decoration: none;
}

.fnt {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.info1 {
    /* margin-left: 20px; */
    float: right;
    width: 370px;
    height: 170px;
    background-color: rgb(211, 168, 26);
}

.company {
    color: gray;
    padding-top: 40px;
}

.jd {
    color: gray;
}

#experience {
    margin-top: 25px;
}

.designation {
    width: 100%;
}

#abilities {
    background-color: rgb(250, 244, 244);
    clear: both;
    /* margin-top: 40px; */
}

.center h1 {
    margin: 0;
    padding-top: 50px;
    color: rgb(211, 168, 26);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.skillBox {
    box-sizing: border-box;
    width: 90%;
    margin: 20px 0;
}

.skillBox p {
    color: rgb(211, 168, 26);
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 0;
    font-weight: bold;
    letter-spacing: 1px;
}

.skillBox p:nth-child(2) {
    float: right;
    position: relative;
    top: -25px;
}

.skill {
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid rgb(211, 168, 26);
    border-radius: 2px;
}

.skill_level {
    background-color: gray;
    width: 100%;
    height: 10px;
}

.skills {
    width: 100%;
}

.Active {
    width: 63px;
    height: 30px;
    background-color: rgb(211, 168, 26);
    color: white;
    border-radius: 10%;
    outline: none;
    border: none;
}

.btn_project {
    width: 90px;
    height: 35px;
    background-color: rgb(211, 168, 26);
    color: white;
    margin: 2% 0 0 3%;
    border-radius: 10%;
    outline: none;
    border: none;
}

.gallary img {
    width: 400px;
    height: 250px;
    border: 2px solid gray;
    margin: 20px 0 0 20px;
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/bg.jpg);
    background-size: cover;
}

.contact .content {
    min-width: 100%;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
    color: white;
}

.container1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container1 .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container1 .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container1 .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container1 .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
}

.container1 .contactInfo .box .text h3 {
    font-weight: 500;
    color: rgb(211, 168, 26);
}

.contactForm {
    width: 40%;
    padding: 40px;
    background-color: white;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: rgb(211, 168, 26);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media only screen and (max-width:576px) {
    .container1 .contactInfo {
        width: 100%;
    }
    .contactForm {
        width: 100%;
    }
}

@media only screen and (max-width:768px) {
    .contactForm {
        width: 80%;
    }
}

@media only screen and (max-width: 991px) {
    .contact {
        padding: 50px;
    }
    .container1 {
        flex-direction: column;
    }
    .container1 .contactInfo {
        margin-bottom: 40px;
    }
    .container1 .contactInfo .contactForm {
        width: 100%;
    }
}

@media only screen and (max-width:378px) {
    .name h1 {
        font-size: 56px;
        text-align: center;
    }
    .post {
        width: 378px;
    }
}

@media only screen and (max-width: 430px) {
    nav {
        display: none;
    }
    .banner i {
        display: block;
    }
    .icon {
        display: block;
    }
    .navbar ul li {
        padding-top: 25px;
    }
    .social ul li {
        display: inline-block;
        padding-left: -1px;
        font-size: 20px;
    }
    /* .topnav { */
    /* overflow: hidden; */
    /* background-color: #333; */
    /* position: relative; */
    /* } */
    nav #myLinks {
        display: block;
    }
    .banner a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 25px;
        display: block;
    }
    .banner a.icon {
        background: rgb(211, 168, 26);
        display: block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .banner a:hover {
        background-color: #ddd;
        color: black;
    }
    .content {
        width: 100%;
        margin: auto;
    }
    .container {
        width: 90%;
        margin: auto;
    }
    .post {
        padding: 0;
    }
    .about {
        width: 100%;
        color: rgb(211, 168, 26);
        padding-top: 10px;
    }
    .about h2 {
        text-align: center;
    }
    .name h1 {
        font-size: 56px;
    }
    .details {
        width: 100%;
        padding: 8% 0 0 37%;
        color: rgb(211, 168, 26);
    }
    .btn {
        margin: 13px 0 0 76px;
    }
    #education {
        background-color: rgb(250, 244, 244);
        margin: 20px 0 0 20px;
    }
    .institute {
        margin: auto;
        width: 100%;
        margin-top: -84px;
        margin-bottom: 90px;
    }
    .board {
        width: 100%;
        margin-top: 94px;
        display: flex;
        flex-direction: column;
    }
    .img {
        height: 100px;
        width: 100px;
        margin: auto;
        margin: 8px 0 0 10px;
        border-radius: 50%;
    }
    .info1 {
        margin: 0;
        width: 90%;
        margin: auto;
        background-color: rgb(211, 168, 26);
    }
    .school {
        font-size: 18px;
    }
    .kkv {
        margin: auto;
    }
    #experience h1 {
        padding-top: 110px;
    }
    .gallary img {
        width: 340px;
    }
    /* .h1 {
        padding-top: 160px;
    } */
    .address {
        float: none;
        width: 100%;
        margin-top: 100px;
        background-color: rgb(211, 168, 26);
    }
    .address h1 {
        text-align: center;
        color: white;
        font-size: 38px;
    }
    .btn_menu {
        width: 370px;
    }
    #contact {
        background-image: none;
        height: 0;
    }
    #contact h1 {
        text-align: center;
        font-size: 40px;
        color: white;
        padding-top: 25px;
    }
    .line3 {
        height: 5px;
        width: 389px;
        background-color: white;
        margin-left: 18px;
    }
    .p1 {
        text-align: center;
        margin-top: 30px;
        font-size: 20px;
        color: white;
    }
    .p1 p {
        text-align: center;
    }
}

@media screen and (min-width: 430px) and (max-width: 770px) {
    nav {
        width: 30%;
    }
    .navbar {
        padding-left: 50px;
    }
    .social {
        position: absolute;
        bottom: 60px;
        left: 10px;
    }
    .content {
        width: 70%;
    }
    .about p {
        font-size: 15px;
    }
    .details {
        padding-left: 24%;
    }
    .details p {
        font-size: 15px;
    }
    .btn {
        margin: 75px 0 0 -67px;
    }
    .institute {
        margin: auto;
        overflow: auto;
    }
    .board {
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .kkv {
        float: none;
    }
    .info1 {
        margin: auto;
        float: none;
        /* width: 0; */
        /* height: 0; */
        /* margin: 0; */
    }
    .gallary img {
        width: 450px;
        height: 250px;
        border: 10px solid gray;
        margin: 20px 0 0 -17px;
    }
    .address {
        width: 500px;
        margin-right: 17px;
    }
    .line3 {
        width: 323px;
        margin-left: 90px;
    }
    #contact h1 {
        text-align: center;
        padding-right: 0;
    }
}

@media screen and (min-width:770px) and (max-width: 1028px) {
    nav {
        width: 30%;
    }
    .content {
        width: 70%;
    }
    .btn {
        margin: 110px 0 25px -75px;
    }
    .kkv {
        margin: auto;
        float: none;
        margin-top: 25px;
        padding-bottom: 8px;
    }
    .info1 {
        margin: 0;
        float: none;
    }
    .btn_project {
        width: 82px;
        height: 35px;
        background-color: rgb(211, 168, 26);
        color: white;
        margin: 2% 0 0 1%;
        border-radius: 10%;
        outline: none;
        border: none;
    }
    .institute {
        display: flex;
        flex-direction: column;
    }
    .board {
        height: 340px;
    }
}


/* nav */

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding-top: 10px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 60px;
}

span {
    float: right;
    display: none;
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width:428px) {
    span {
        color: gold;
        position: absolute;
        right: 0;
        top: 0;
        display: block;
    }
}